pandas
scikit-learn
numpy
seaborn
ipykernel
Flask
#this is more stable version
mlflow==2.2.2
dvc
apache-airflow
evidently
plotnine
FastAPI
optuna
nbformat # required for visualization using optuna


-e .